
.banniere-soin {
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url('banniere-soins.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre-soin {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2.4em;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  text-align: center;
}

.banniere-soin {
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url('banniere-soins.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
