
html, body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-filler {
  flex-grow: 1;
}

/* FOOTER STYLE */
footer {
  background: url('https://github.com/MtTherapies/maudtaneurtherapies/blob/main/Screenshot_3.png?raw=true')
              center center/cover no-repeat;
  padding: 20px 10px;
  text-align: center;
  color: white;
  font-size: 0.95em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  box-sizing: border-box;
}

footer > div {
  max-width: 800px;
}
